/*
body,
.x-fullscreen,
.x-layout-fit-item,
.x-layout-card-item {
	background-color: #000
}
*/
.semi-trans {
   background-color:transparent;
}
.my-carousel-item {
	background: url(images/loading.png) no-repeat center center
}
@media screen and (orientation: portrait) {
	.my-carousel-item-img {
		background-size: 50% auto
	}
}
@media screen and (orientation: landscape) {
	.my-carousel-item-img {
		background-size: auto 50%
	}
}
.x-portrait .my-carousel-item-img {
	background-size: 50% auto
}
.x-landscape .my-carousel-item-img {
	background-size: auto 50%
}
.my-carousel-item-img {
	background-position: center center
}
.x-carousel-indicator>* {
	background-color: orange !important;
	opacity: 0
}
.x-carousel-indicator>.x-carousel-indicator-active {
	opacity: 0
}
.customClass{
	background-color: black;
}
